// Mobile icon
.title-bar .menu-icon {
	float: right;
	margin-left: 0;
	margin-right: 0;

	img {
		height: 2rem;
	}
}

// Large navigation
.top-bar {
	@include breakpoint(medium) {
		text-align: center;

		ul {
			display: inline-block;
			@include breakpoint(medium) {
				li a {
					padding-left: 1.8rem;
					padding-right: 1.8rem;
				}
			}

			@include breakpoint(large) {
				li a {
					padding-left: 3rem;
					padding-right: 3rem;
				}
			}
		}
	}
}

// Prevent navigation FOUC
@include breakpoint(small only) {
  .top-bar {
    display: none;
  }
}

@include breakpoint(medium) {
  .title-bar {
    display: none;
  }
}
