// Mobile icon
.menu-icon {
	float: right;
	img {
		height: 2rem;
	}
}

// Large navigation
.top-bar {
	@include breakpoint(medium) {
		text-align: center;

		ul {
			display: inline-block;
		}
	}

}
