h1, h2 {text-align: center;}

h2 {
	margin-top: 1em;

	&:after {
		display: block;
		width: 100px;
		height: rem-calc(3);
		margin: 0.5em auto 1em auto;
		background: $india-ink;
		content: ' ';
	}
}

ul {
	list-style-type: none;
}
