.title-bar(data-responsive-toggle='example-menu', data-hide-for='medium')
	a(href="index.html").title-bar-title Louise + Daniel
	button.menu-icon(type='button', data-toggle='')
		img(src="images/icons/heart-icon.svg")
	
#example-menu.top-bar
	ul.vertical.medium-horizontal.dropdown.menu(data-dropdown-menu='')
		li
			a(href='the-wedding.html') The Wedding
		li
			a(href='getting-there.html') Getting there
		li
			a(href='gifts.html') Gifts
		li
			a(href='rsvp.html') RSVP
