extends layouts/navigation-layout

block content
	main.bkg.getting-there
		.row
			.small-12.column.text-bkg
				h2 Getting there

				p Kingscote Barn is in England, more specifically in Gloucestershire, near the village of Tetbury, in a secluded little valley in the Cotswolds.
				p The Kingscote Barn, Binley Farm, Kingscote, Tetbury, Gloucestershire, GL8 8YE

				h3 Approximate driving times

				table(width='100%', cellpadding='5', cellspacing='0')
					tr
						td Bristol
						td 40 minutes
					tr
						td Bath
						td 45 minutes
					tr
						td London
						td 2 hours 10 minutes

				h3 Taxis to and from the venue
				p We are planning on booking minibus taxis to get guests to the venue from the centre of Bristol and the centre of Bath, subject to demand. If you think this is a smashing idea and would like to partake, then drop an 
					a(href="daniel.holly@hotmail.co.uk") email to Daniel. 
					| Once we know numbers we’ll get in touch with the rough cost per person.
				p If you’d like to arrange your own taxi, please be aware that the mobile signal at the venue is poor, and the local taxis will get booked up quickly, so book in advance. 

				h3 Parking
				p There are plenty of parking spaces at the venue, and cars can be left onsite and collected the next day.
