extends layouts/navigation-layout

block content
	main.bkg.gifts
		.row
			.small-12.column.text-bkg
				h2 Are you doing a gift list?
				
				p While it is traditional for couples to ask for crockery and tea towels and suchlike as wedding gifts, we have been living together for some time and have everything we need for a life of wedded bliss!
				p We are however planning to go on a three week honeymoon to Thailand after the wedding, and any contribution to this would be much appreciated by both of us. 
				p We have set up a website which allows you to pay money electronically to a paypal account that we can access. If you don’t like the idea of paying money electronically, there are cash and cheque options on the site as well. 
				
				span.center
					a.btn.btn-default.rsvp-btn(href='http://www.honeyfund.co.uk/wedding/danielandlouise') Honeyfund
