extends layouts/basic-layout

block content
	main.bkg.landing
		.landing-wrap
			header.landing-header
				h1.names Louise + Daniel
				h1.subhead are getting married
			footer.landing-footer
				h2.footer-text
					| November 23
					sup rd
					img.footer-heart(src='assets/img/icons/Love_Heart_SVG.svg')
					|  Kingscote, Glos
			script.
				jQuery(".container").css( "width", "100%")
				jQuery(".names").fitText(1, { minFontSize: '31px', maxFontSize: '72px' })
				jQuery(".subhead").fitText(1.4, { minFontSize: '23px', maxFontSize: '52px' })
				jQuery(".footer-text").fitText(2.5, { minFontSize: '15px', maxFontSize: '32px' })
