extends layouts/landing-layout

block content
	main.bkg.landing
		.title
			h1.names Louise + Daniel
			h1.subhead are getting married
			
		nav.landing-navigation
			ul
				li
					a(href='the-wedding.html') The Wedding
				li
					a(href='getting-there.html') Getting there
				li
					a(href='gifts.html') Gifts
				li
					a(href='rsvp.html') RSVP
			
			
		.date-wrap
			h4.date November 23#[sup rd] 2013
			img.heart(src='images/icons/Love_Heart_SVG.svg')
			h4.location Kingscote, Gloucestershire
