extends layouts/navigation-layout

block content
	main.bkg.landing
		.landing-wrap
			header.landing-header
				h1.names Louise + Daniel
				h1.subhead are getting married
			footer.landing-footer
				h2.footer-text
					| November 23
					sup rd
					img.footer-heart(src='images/icons/Love_Heart_SVG.svg')
					|  Kingscote, Glos
