extends layouts/navigation-layout

block content
	main.bkg.the-wedding
		.row
			.small-12.column
				.text-bkg
					h2 Order of the day
					
					table
						tr
							td 2pm
							td Ceremony
						tr
							td 2.30pm
							td Drinks reception and photos
						tr
							td 4pm
							td Dinner
						tr
							td 6pm
							td Speeches
						tr
							td 7pm
							td Dancing
						tr
							td 9pm
							td Fireworks
						tr
							td 9.30pm
							td More food and another opportunity to dance your socks off
						tr
							td Midnight
							td Bride and Groom depart
						tr
							td 12.30am
							td Taxi's
							
					h2 Kingscote Barn
					img.kingscote-barn(src="images/kingscote-landscape.jpg")
					p The entire day is going to be at Kingscote Barn near Tetbury. Kingscote Barn is a professional wedding venue so there won’t be any farmyard animals wandering around, everything is easily accessible and importantly, the whole venue will be well heated all day.
					p You can read more at #[a(href="http://www.kingscotebarn.co.uk") kingscotebarn.co.uk]
					
					h2 Questions?
					h3 Isn’t it going to be really cold in November?
					p All parts of the venue are accessible without going outside and we only anticipate dragging you all into the cold for a few photos and some spectacular fireworks, so you don’t have to worry about dressing for the arctic!
					
					h3 What do you want me to wear?
					p Just to be clear, there is no formal dress code, and we’re not looking to colour coordinate our guests. Suits for the guys, dresses for the girls. If either of these options makes you feel wildly uncomfortable then wear whatever you like.
					
					h3 Do I need loads of cash on me?
					p The only thing you need cash for is a taxi, if you are getting one. We are stocking a full free bar, which is an invitation to misbehave if ever there was one!
					
					h3 Got any tips for accomodation?
					p Since we’re hoping to book shared minibuses from Bristol and Bath, you might want to consider staying in either of these fine cities; there’s plenty to see and do for the rest of the weekend!
					p If you do want to stay closer to the venue, then here are a couple of options:
					ul
						li
							a(href="http://snooty-fox.co.uk/") The Snooty Fox
						li
							a(href="http://www.theprioryinn.co.uk/") The Priory Inn
						li
							a(href="http://theclose-hotel.com/") The Close Hotel
						li
							a(href="http://yorkhousetetbury.com/") York House
						li
							a(href="http://www.number65.co.uk/") Number 65
					
					h3 I'm going to be free the night before. Can we party?
					p The evening before the wedding we will be staying in central Bath. If anyone is free for an informal dinner, then let us know and we will book something and let you know the details.
