{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<!-- Page wrap -->
<body>
  <!-- Navigation -->
  {% include navigation.html %}
  <!-- Page bkg wrap -->
  <div class="bkg {% if page.css-tag %}{{ page.css-tag }}{% endif %}">
    <!-- Page content -->
    <div class="container">
      <div id="content" class="content">
        {{ content | expand_urls: root_url }}
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div> <!-- /Page bkg wrap -->
</body>
</html>
