{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
	<body {% if page.body_id %} id="{{ page.body_id }}">
  	<header role="banner">
  		{% include header.html %}
  	</header>

  	<div id="main">
			<div id="content">
			  {{ content | expand_urls: root_url }}
			</div>
		</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="js/respond.js"></script>
  </body>
</html>