@import "../colour-palette.scss";

.landing {
	background-position: center top;
	text-align: center;

	// Set page height
	height: 100vh;

	// Background
	// Mobile
	@include breakpoint(portrait) {
		background-image: url('../images/bkg/landing/florence-4-3-P@2x.jpg');
	}

	@include breakpoint(landscape) {
		background-image: url('../images/bkg/landing/florence-16-9-L@2x.jpg');
	}

	// Tablet
	@media (orientation: portrait) and #{breakpoint(medium)} {
		background-image: url('../images/bkg/landing/florence-4-3-P@2x.jpg');
	}

	@media (orientation: landscape) and #{breakpoint(medium)} {
		background-image: url('../images/bkg/landing/florence-4-3-L@2x.jpg');
	}

	// Desktop
	@include breakpoint(large) {
		background-image: url('../images/bkg/landing/florence-1400@2x.jpg');
	}

	// Anything bigger
	@include breakpoint(xlarge) {
		background-image: url('../images/bkg/landing/florence-max.jpg');
	}


	// *

	.title {
		text-transform: uppercase;
		width: 100%;

		.names {
			padding-top: 1em;
			margin-bottom: 0;
			font-weight: 700;
			line-height: 1;
			color: $white;

			&:after {
				width: 40%;
				height: rem-calc(3);
				display: block;
				background: white;
				margin: rem-calc(10) auto;
				content: ' ';

				@include breakpoint(medium) {
					width: 30%;
				}

				@include breakpoint(large) {
					width: 15%;
				}
			}
		}

		.subhead {
			margin: 0;
			font-weight: 700;
			line-height: 1;
			color: $white;
		}
	}

	.date-wrap {
		position: absolute;
		bottom: 1rem;

		// Centre text
		left: 50%;
		transform: translateX(-50%);

		color: $white;
		text-transform: uppercase;

		sup {
			text-transform: lowercase;
		}

		// Overide default ornamentation
		&:after {
			display: none;
		}

		.date {
			display: block;
			margin-bottom: 0;
			@include breakpoint(medium) { display: block; }
			@include breakpoint(large) { display: inline }
		}

		.heart {
			height: rem-calc(20);
			margin: 0 auto;
			display: block;
			@include breakpoint(medium) { display: block; }
			@include breakpoint(large) {
				display: inline;
				margin: 0 rem-calc(5);
			}
			@include breakpoint(medium) { height: rem-calc(30); }
			@include breakpoint(large) { height: rem-calc(30); }

		}

		.location {
			display: block;
			@include breakpoint(large) { display: inline }
		}
	}
}
