@import "../colour-palette.scss";

.landing {
	background-position: center top;
	height: 100vh;

	// Mobile
	@include breakpoint(portrait) {
		background-image: url('../images/bkg/landing/florence-4-3-P@2x.jpg');
	}

	@include breakpoint(landscape) {
		background-image: url('../images/bkg/landing/florence-16-9-L@2x.jpg');
	}

	// Tablet
	@media (orientation: portrait) and #{breakpoint(medium)} {
		background-image: url('../images/bkg/landing/florence-4-3-P@2x.jpg');
	}

	@media (orientation: landscape) and #{breakpoint(medium)} {
		background-image: url('../images/bkg/landing/florence-4-3-L@2x.jpg');
	}

	// Desktop
	@include breakpoint(large) {
		background-image: url('../images/bkg/landing/florence-1400@2x.jpg');
	}

	// Anything bigger
	@include breakpoint(xlarge) {
		background-image: url('../images/bkg/landing/florence-max.jpg');
	}

	.text-bkg {
		background-color: transparent;
		color: white;
	}
}

//Landing page
.landing-wrap {
	width: 100%;
	text-align: center;
	display: table;
	//padding-top: 20px;

	.landing-header {
		display: table-row;
		text-transform: uppercase;
		width: 100%;

		.names {
			// font-family: $font-family-base;
			margin-top: 10px;
			margin-bottom: 0;
			font-weight: 700;
			line-height: 1;
			color: $white;

			&:after {
				width: 40%;
				height: 4px;
				display: block;
				background: white;
				margin: 5px auto;
				content: ' ';

				@include breakpoint(medium) {
					width: 30%;
				}

				@include breakpoint(large) {
					width: 15%;
				}
			}
		}

		.subhead {
			// font-family: $font-family-base;
			margin: 0;
			font-weight: 700;
			line-height: 1;
			color: $white;
		}
	}

	.landing-footer {
		display: table-cell;
		vertical-align: bottom;
		text-transform: uppercase;
		padding-bottom: 20px;
		color: $white;

		sup {
			text-transform: lowercase;
		}

		h2 {
			// font-family: $font-family-base;

			&:after {display: block;
				width: 75px;
				height: 0px;
				margin: 16px auto 16px auto;
				background: $india-ink;
				content: ' ';}
		}

		.footer-heart {
			height: 23px;
			// @media screen and (min-width: $screen-xs) { height: 28px}
			@include breakpoint(medium) { height: 30px}
			@include breakpoint(large) { height: 40px; }
		}
	}
}
