.rsvp {
	background-position: center top;
	background-attachment: fixed;

	// Mobile
	@include breakpoint(portrait) {
		background-image: url('../images/bkg/rsvp/lijiang-16-9-P@2x.jpg');
	}

	@include breakpoint(landscape) {
		background-image: url('../images/bkg/rsvp/lijiang-16-9-L@2x.jpg');
	}

	// Tablet
	@media (orientation: portrait) and #{breakpoint(medium)} {
		background-image: url('../images/bkg/rsvp/lijiang-4-3-P@2x.jpg');
	}

	@media (orientation: landscape) and #{breakpoint(medium)} {
		background-image: url('../images/bkg/rsvp/lijiang-4-3-L@2x.jpg');
	}

	// Desktop
	@include breakpoint(large) {
		background-image: url('../images/bkg/rsvp/lijiang-1400@2x.jpg');
	}

	// Anything bigger
	@include breakpoint(xlarge) {
		background-image: url('../images/bkg/rsvp/lijiang-max.jpg');
	}
}
