doctype html
html.no-js(lang='')
	head
		include head
		
	body
		//- Browser upgrade block
		include browser-upgrade
		
		//- Page content
		block content
		
		//- Javascript calls
		include js-calls
