doctype html
html.no-js(lang='')
	head
		include components/head
		
	body
		//- Browser upgrade block
		include components/browser-upgrade
		
		//- Navigation
		include components/navigation
		
		//- Page content
		block content
		
		//- Javascript calls
		include components/js-calls
