/* Grunt compile path

cd c:\apps\wamp\www\danielandlouise\
grunt watch

*/

//Structure
.container {
	display: table;
	height: 100%;
}

.content {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

// Nav
.navbar-nav {
	max-width: 1000px;
	margin: 0 auto;
}
.nav >li {
	float: none;
	display: inline-block;
}

.nav-center {
	float: none;
	text-align: center;
	> li {
		float: none;
		display: inline-block;
		text-align: center;

		> a {
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}

.nav-flex {
	@media screen and (min-width: @screen-xs) {
		width: 30%;
	}
	@media screen and (min-width: @screen-sm) {
		width: 20%;
	}
}

.nav-heart {
	display: none;

	@media screen and (min-width: @screen-xs) {
		display: block;
		height: 14px;
		margin: 0 auto;
	}
}

// Page backgrounds
.bkg {
	margin-top: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}

.landing, .rsvp {
	background-image: url('../img/bkg/landing/florence-landscape-IMAX.jpg');
	background-position: center top;

	@media only screen and (orientation: portrait) and (max-width: @screen-xs) and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (orientation: portrait) and (max-width: @screen-xs) and (-min-moz-device-pixel-ratio : 1.5),
	only screen and (orientation: portrait) and (max-width: @screen-xs) and (-min-device-pixel-ratio : 1.5) {
	}

	@media only screen and (orientation: landscape) and (max-width: @screen-xs) and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (orientation: landscape) and (max-width: @screen-xs) and (-min-moz-device-pixel-ratio : 1.5),
	only screen and (orientation: landscape) and (max-width: @screen-xs) and (-min-device-pixel-ratio : 1.5) {
	} 
}

.thewedding {
	background-image: url('../img/bkg/thewedding/kingscote_tables-landscape-IMAX.jpg');
	background-position: center center;
	background-attachment: fixed;
}

.questions, .getting-there {
	background-image: url('../img/bkg/gifts/Ao_Nang_beach-landscape-IMAX.jpg');
	background-position: center center;
	background-attachment: fixed;
}

.gifts {
	background-image: url('../img/bkg/gifts/Ao_Nang_beach-landscape-IMAX.jpg');
	background-position: center center;
	background-attachment: fixed;
}



//Landing page
.landing-wrap {
	width: 100%;
	text-align: center;
	display: table;

	.landing-header {
		display: table-row;
		text-transform: uppercase;
		width: 100%;

		.names {
			margin-top: 10px;
			margin-bottom: 0;
			font-weight: 700;
			line-height: 1;
			&:after {
				width: 80%;
				height: 4px;
				display: block;
				background: white;
				margin: 5px auto;
				content: ' ';
			}
		}

		.subhead {
			margin: 0;
			font-weight: 700;
			line-height: 1;

		}
	}

	.landing-footer {
		display: table-cell;
		vertical-align: bottom;
		text-transform: uppercase;
		sup {text-transform: lowercase}
		padding-bottom: 20px;

		.footer-heart {
			height: 23px;
			@media screen and (min-width: @screen-xs) { height: 28px}
			@media screen and (min-width: @screen-sm) { height: 30px}
			@media screen and (min-width: @screen-md) { height: 40px; }
		}
	}
}
