<nav class="navbar navbar-fixed-top" role="navigation">
  <ul class="nav navbar-nav nav-center">
    <li class="nav-center nav-flex">
      <a href="{{ root_url }}/thewedding" title="The Wedding">The Wedding</a>
    </li>
    <li>
      <img class="nav-heart" src="assets/img/icons/Love_Heart_SVG.svg">
    </li>
    <li class="nav-center nav-flex">
      <a href="{{ root_url }}/getting-there" title="Getting there">Getting there</a>
    </li>
    <li>
      <img class="nav-heart" src="assets/img/icons/Love_Heart_SVG.svg">
    </li>
    <li class="nav-center nav-flex">
      <a href="{{ root_url }}/questions" title="Questions">Questions</a>
    </li>
    <li>
      <img class="nav-heart" src="assets/img/icons/Love_Heart_SVG.svg">
    </li>
    <li class="nav-center nav-flex">
      <a href="{{ root_url }}/rsvp" title="RSVP">RSVP</a>
    </li>
  </ul>
</nav>