<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <div class="mobile-nav-icon"></div>
    </button>
    <a class="navbar-brand visible-xs" href="#">Louise + Daniel</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav nav-center">
      <li class="nav-center nav-flex">
        <a href="{{ root_url }}/thewedding" title="The Wedding">The Wedding</a>
      </li>
      <li>
        <img class="nav-heart hidden-xs" src="assets/img/icons/Love_Heart_SVG.svg">
      </li>
      <li class="nav-center nav-flex">
        <a href="{{ root_url }}/getting-there" title="Getting there">Getting there</a>
      </li>
      <li>
        <img class="nav-heart hidden-xs" src="assets/img/icons/Love_Heart_SVG.svg">
      </li>
      <li class="nav-center nav-flex">
        <a href="{{ root_url }}/gifts" title="Gifts">Gifts</a>
      </li>
      <li>
        <img class="nav-heart hidden-xs" src="assets/img/icons/Love_Heart_SVG.svg">
      </li>
      <li class="nav-center nav-flex">
        <a href="{{ root_url }}/rsvp" title="RSVP">RSVP</a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>